@import "tailwindcss";

.body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
   @apply text-center text-3xl text-white font-bold
}

.label{
   @apply ml-2 font-bold;
}

.input{
    @apply  mt-2 w-full bg-amber-100 rounded-2xl p-2  focus:bg-blue-200;
}

.btn{
@apply w-full bg-blue-700 rounded-2xl p-2 outline-1 hover:bg-transparent hover:outline-1 hover:outline-blue-400 text-white hover:text-black transition duration-300 ease-in;
}

.btn-green{
@apply w-full bg-green-700 rounded-2xl p-2 outline-1 hover:bg-transparent hover:outline-1 hover:outline-green-400 text-white hover:text-black transition duration-300 ease-in;
}